@import "../../styles/variables";

#services {
  min-height: auto;
}

.container {
  &__services {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__item {
      margin: 0.5rem;
    }
  }

  .service-block {
    min-width: 30rem;
    min-height: 13rem;
    border-radius: 1rem;
    padding: 1rem;
    background: $color-primary-variant;
    transition: $ease-transition;

    &__icon {
      svg {
        font-size: 3rem;
        font-weight: 500;
        color: $color-primary;
      }
    }

    &__header {
      h3 {
        color: $color-primary;
      }
    }

    &__content {
      p {
        color: $color-light;
      }
    }

    &:hover {
      transition: $ease-transition;
      border: 1px solid $color-primary;

      svg {
        transition: $ease-transition;
        font-size: 4rem;
      }

      h3 {
        color: $color-light;
        transition: $ease-transition;
      }

      p {
        color: $color-white;
        transition: $ease-transition;
      }
    }
  }
}

@media (min-width: $sm) {
  .container {
    &__services {
      display: grid;
      grid-template-columns: auto;
    }

    .service-block {
      min-width: auto;
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: $md) {
  .container {
    &__services {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .service-block {
      min-width: auto;
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: $lg) {
  .container {
    &__services {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .service-block {
      min-width: auto;
      margin-bottom: 1rem;
    }
  }
}
