@import '../../styles/variables';

.article-card {
    background: $color-primary-variant;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    margin: 0.5rem;
    text-align: center;
    transition: $ease-transition;

    &:hover {
        background: transparent;
        border-color: $color-primary-variant;
        cursor: default;
    }

    svg {
        color: $color-primary;
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    h5 {
        font-size: 0.9rem;
    }

    small {
        font-size: 0.7rem;
        color: $color-light;
    }
}

@media (min-width: $sm) { 

    .article-card {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}