@import "../../styles/variables";

header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.container {
  &__header {
    position: relative;
    text-align: center;
    height: 100%;

    h1 {
      color: $color-primary;
    }

    .actions {
      margin-top: 2.5rem;
      display: flex;
      gap: 1.2rem;
      justify-content: center;
    }

    .socials {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;
      position: absolute;
      left: 3rem;
      bottom: 3rem;

      &::after {
        content: "";
        width: 1px;
        height: 2rem;
        background: $color-primary;
      }
    }

    .scroll__down {
      display: flex;
      gap: 0.8rem;
      position: absolute;
      right: 3rem;
      bottom: 3rem;

      &::after {
        content: "";
        width: 1px;
        height: 2rem;
        background: $color-primary;
      }

      h4 {
        transform: rotate(90deg) translate(-80px, -55px);
        color: $color-primary;
      }
    }

    .me {
      width: 22rem;
      height: 25rem;
      position: absolute;
      left: calc(50% - 10rem);
      margin-top: 3rem;

      img {
        border-radius: 10rem 0 10rem 0;
      }
    }
  }
}

@media (min-width: $sm) {
  header {
    min-height: 100vh;
    padding-top: 3rem;
  }

  .container {
    &__header {
      .socials {
        display: none;
      }

      .scroll__down {
        display: none;
      }

      .me {
        width: 22rem;
        height: 25rem;
        left: calc(50% - 11rem);
      }
    }
  }
}

@media (max-width: $md) {
  header {
    height: 100vh;
    padding-top: 5rem;
  }

  .container {
    &__header {
      .socials {
        left: 0rem;
        bottom: 2rem;
        display: flex;
      }

      .scroll__down {
        right: 0rem;
        bottom: 2rem;
        display: flex;
      }

      .me {
        width: 22rem;
        height: 25rem;
        left: calc(50% - 11rem);
      }
    }
  }
}

@media (min-width: $lg) {
  header {
    min-height: 100vh;
    padding-top: 7rem;
  }

  .container {
    &__header {
      .socials {
        display: flex;
      }

      .scroll__down {
        display: flex;
      }
    }
  }
}

@media (min-width: $xl) {
  header {
    min-height: 100vh;
  }

  .container {
    &__header {
      .socials {
        display: flex;
      }

      .scroll__down {
        display: flex;
      }
    }
  }
}
