@import "../../styles/variables";

footer {
  min-height: 3rem;
  background: $color-primary;
  padding: 1rem;
  display: flex;
  // grid-template-columns: 1fr 1fr;

  a {
    color: $color-white;
    &:hover {
      color: $color-bg;
      font-size: 1.5rem;
    }
  }

  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;

    &::before {
      content: "";
      width: 2rem;
      height: 1px;
      background: $color-bg;
    }
  }

  .greets {
    width: 100%;
    text-align: center;
    h3 {
      transform: translate(-4rem, 1rem)
    }
  }
}
