@import "../../styles/variables";

footer {
  min-height: 20rem;
  background: $color-primary;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $color-bg;
    padding-bottom: 1rem;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 1rem;

    a {
      color: $color-bg;
      font-size: 1.3rem;

      &:hover {
        font-size: 1.5rem;
        color: $color-bg-variant;
      }
    }
  }

  

  .socials {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    padding-bottom: 1rem;

    a {
      color: $color-bg;
      font-size: 1.5rem;

      &:hover {
        font-size: 1.6rem;
        color: $color-bg-variant;
      }
    }
    
  }

  .greets {
    color: $color-bg;
    text-align: center;
   
  }
}
